<div class="footer">
    <div class="caja-contenedor">
        <div class="caja">
            <div class="redes">
                <i class="fa-brands fa-facebook"></i>
                <a href="">facebook</a>
            </div>
            <div class="redes">
                <i class="fa-brands fa-instagram"></i>
                <a href="">instagram</a>
            </div>
            <div class="redes">
                <i class="fa-brands fa-pinterest"></i>
                <a href="">pinterest</a>
            </div>
            <div class="redes">
                <i class="fa-brands fa-twitter"></i>
                <a href="">twitter</a>
            </div>

            
        </div>
    </div>
     <h1 class="creditos">&copyCopyright @2023 MOV.mp4</h1>
    
</div>